@{
    ViewData["Title"] = "InternetModelSubscriptionTransaction";
    var SecondaryData = ViewData["InternetModel"] as InternetModel;
    var data = ViewData["TransferViewModel"] as TransferViewModel;
}
@model SubscriptionPaymentViewModel





<style>
    /* General Styles */
    body.bga {
        background-color: #131311;
    }

    .navbar.nav {
        background-color: #131311;
        padding: 1rem;
    }

    .bga {
        padding: 120px 20px;
    }

    .navbar .btn {
        margin-right: 1rem;
    }

    .text-light {
        color: #ffffff;
    }

    .text-size {
        font-size: 1.5rem;
    }

    .font-weight-bold {
        font-weight: bold;
    }


    .container.card {
        background: #131311;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h2.mb-4 {
        margin-bottom: 1.5rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
        color: white !important;
    }

    .radio-inline {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

        .radio-inline img {
            width: 50px;
            height: auto;
            margin-right: 1rem;
        }

    .form-control {
        width: 100%;
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ced4da;
        color: #74FA56 !important;
    }

    .btn-primary {
        background-color: #74fa56;
        width: 100%;
        border: none;
        color: #ffffff;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #2fe404;
        }

    hr {
        margin: 1.5rem 0;
    }

</style>
<main class="mtop" class="pb-3">
    <div class="container card bg-photo bga">
        <div class="container mt-5">
            <h2 class="mb-4">Internet Provider Subscription</h2>
            <form method="post" asp-action="UtilitySubscriptionTransaction">
                <div class="form-group">
                    <h5 class="card-title text-light">Select Payment Method</h5>
                    @if (data.CashBackViewModel != null)
                    {

                        <div class="radio-inline">
                            <input id="PaidById" type="radio" asp-for="PaidById" value="@data.CashBackViewModel.CashBackNumber" name="PaidById">
                            <label for="PaidById1">
                                <img src="~/img/icon/Cashback-Icon.png" alt="CashBack">
                                CashBack - @data.CashBackViewModel.Balance.ToString("C")
                            </label>
                        </div>
                    }
                    @if (data.BankAccountViewModel != null)
                    {

                        <div class="radio-inline">
                            <input id="PaidById" type="radio" asp-for="PaidById" value="@data.BankAccountViewModel.AccountNumber" name="PaidById">
                            <label for="PaidById2">
                                <img src="~/img/icon/Bank-Account.png" alt="Bank Account">
                                @data.BankAccountViewModel.AccountNumber - @data.BankAccountViewModel.Balance.ToString("C")
                            </label>
                        </div>
                    }
                    @foreach (var card in data.BankCardViewModels)
                    {



                        <div class="radio-inline">
                            <input id="PaidById" type="radio" asp-for="PaidById" value="@card.CardNumber" name="PaidById">
                            <label for="PaidById3">
                                <img src="~/img/images/@card.CardType-Easy.png" alt="Card">
                                @card.CardNumber - @card.Balance.ToString("C")
                            </label>
                        </div>

                    }



                </div>
                <div class="form-group" style="text-align:center; border-radius:4px;">
                    <img  src="~/img/Internet/@Html.Raw($"{SecondaryData.Name}.png")"  style=" width: 100px; height: auto;">
                    <div class="text-light" style="margin-top: 10px;">@SecondaryData.Name</div>

                </div>
                @if (SecondaryData.IsAppointmentTypeable)
                {
                    <div class="form-group">
                        <h5 class="card-title text-light">Select </h5>
                        <select asp-for="AppointmentType" class="form-control" required>
                            <option value="Individuals" selected>Individuals</option>
                            <option value="Commercial consumers" data-img-src="/img/companies/company1.png">Commercial consumers</option>
                        </select>
                    </div>

                }


                <hr />
                <div class="form-group">
                    <h5 class="card-title text-light">Subscriber code</h5>
                    <input asp-for="DestinationId" class="form-control" type="text" oninput="formatNumberInput(this)" id="DestinationId" name="DestinationId" required />
                </div>
                <hr />

                <div class="form-group">
                    <h5 class="card-title text-light">Amount</h5>
                    <input asp-for="Amount" class="form-control" type="text" oninput="validateNumberInput(this)" id="Amount" name="Amount" required />
                </div>
                <hr hidden />

                <div class="form-group" id="commissionSection" hidden>
                    <Label id="commissionLabel">Commission - $0</Label>
                </div>
                <button type="button" id="paymentButton" class="btn btn-primary">Payment</button>
                <button asp-action="UtilitySubscriptionTransaction" type="submit" id="submitButton" class="btn btn-primary" hidden>Submit</button>
            </form>
        </div>
    </div>


</main>
<script>
    function validateNumberInput(input) {
        input.value = input.value.replace(/[^0-9]/g, '');
    }


</script>
<script>
    document.getElementById('paymentButton').addEventListener('click', function () {
        var amount = document.getElementById('DestinationId').value;
        var commissionSection = document.getElementById('commissionSection');
        var commissionLabel = document.getElementById('commissionLabel');
        var paymentButton = document.getElementById('paymentButton');
        var submitButton = document.getElementById('submitButton');

    @*if (amount.startsWith('6442 64')) {
            commissionLabel.textContent = 'Commission - $0';
            } else {
            commissionLabel.textContent = 'Commission - $0.5';
            }*@
            commissionLabel.textContent = 'Commission - $0';

        commissionSection.hidden = false;
        paymentButton.hidden = true;
        submitButton.hidden = false;
    });
</script>
