@{
    ViewData["Title"] = "TransferToCard";
    var data = ViewData["TransferViewModel"] as TransferViewModel;
    Layout = null;
}

@model TransactionViewModel

<div class="container mt-5">
    <h2>Select Card and Transfer Money</h2>
    <form method="post" asp-action="TransferToCard">
        <div class="form-group">
            <label>Select Payment Method</label><br>

            @if (data.CashBackViewModel != null)
            {
                <label class="radio-inline">
                    <input type="radio" asp-for="PaidById" value="@data.CashBackViewModel.CashBackNumber">
                    CashBack - @data.CashBackViewModel.Balance.ToString("C")
                </label>

                <br>
            }
            @if (data.BankAccountViewModel != null)
            {
                <label class="radio-inline">
                    <input type="radio" asp-for="PaidById" value="@data.BankAccountViewModel.AccountNumber">
                @data.BankAccountViewModel.AccountNumber - @data.BankAccountViewModel.Balance.ToString("C")
            </label><br>
            }
            @foreach (var card in data.BankCardViewModels)
            {
                <label class="radio-inline">
                    <input type="radio" asp-for="PaidById" value="@card.CardNumber">
                    @card.CardNumber - @card.Balance.ToString("C")
                </label>

                <br>
            }
        </div>

        <div class="form-group">
            <label for="recipientCardNumber">Recipient Card Number</label>
            <input asp-for="DestinationId" class="form-control" />
        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input asp-for="Amount" class="form-control" />
        </div>

        

        <button asp-action="TransferToCard" type="submit" class="btn btn-primary">Send Money</button>
    </form>
</div>


