@{
    ViewData["Title"] = "Detail";
}
@model UserDetailViewModel

<div class="col-md-6">
    <h2>User Details</h2>
    <div class="card mb-4">
        <div class="card-body">
            <img src="~/img/data/@Model.User.ProfilePhoto" alt="Profile Photo" class="img-fluid  mb-3" style="width: 150px; height: 150px; object-fit: cover;">
            <h5 class="card-title">@Model.User.FirstName @Model.User.LastName</h5>
            <p class="card-text">
                <strong>Email:</strong> @Model.User.Email<br>
                <strong>Email Confirmed:</strong> @Model.User.EmailConfirmed<br>
                <strong>Age:</strong> @Model.User.Age<br>
                <strong>Date of Birth:</strong> @Model.User.DateOfBirth.ToString("yyyy-MM-dd")<br>
                <strong>Phone Number:</strong> @Model.User.PhoneNumber<br>
                <strong>Created Date:</strong> @Model.User.CreatedDate.ToString("yyyy-MM-dd")<br>
                <strong>Update Date:</strong> @Model.User.UpdateDate.ToString("yyyy-MM-dd")<br>
                <strong>Banned:</strong> @if (Model.User.Banned)
                {
                    <span class="badge bg-danger">Banned</span>
                }
                else
                {
                    <span class="badge bg-success text-dark">Not Banned</span>
                }
            </p>
        </div>
    </div>

    <h2>Bank Account Details</h2>
    @if (Model.Account == null)
    {
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    User Have No Acoount
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    <strong>Account ID:</strong> @Model.Account.Id<br>
                    <strong>Account Number:</strong> @Model.Account.AccountNumber<br>
                    <strong>IBAN:</strong> @Model.Account.IBAN<br>
                    <strong>Balance:</strong> @Model.Account.Balance.ToString("C")<br>
                    <strong>Account Status:</strong> @Model.Account.AccountStatus.Name
                </p>
            </div>
        </div>
    }

</div>

<!-- Bank Card Details -->
<div class="col-md-6">
    <h2>Bank Card Details</h2>
    @if (Model.Cards.Count == 0)
    {
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    User Have No card
                </p>
            </div>
        </div>
    }
    else
    {
        @foreach (var card in Model.Cards)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-container mb-4">
                            <div class="@card.CardType.Name.ToLower()-card">
                                <div class="head">
                                    <h3>@card.CardType.Name</h3>
                                    <div class="visa-word">VISA</div>
                                </div>
                                <div class="card-info">
                                    <p id="cardNumber1">@card.CardNumber</p>
                                    <button class="copy-btn" onclick="copyCardNumber("@card.CardNumber")">
                                    <i class="fs-15 fas fa-copy"></i>
                                    </button>
                                </div>
                                <div class="balance-div">
                                    <span class="balance-text">Balance:</span>
                                    <p>@card.Balance <span class="card-currency">$</span></p>
                                </div>
                                <div class="card-owner">
                                    <div>
                                        <p class="card-holder-p">Card Holder</p>
                                        <p class="owner-name">@Model.User.FirstName @Model.User.LastName</p>
                                    </div>
                                    <div class="expires-div">
                                        <p class="expires-text">Expires</p>
                                        <p class="expires-date">@card.ExpiryDate.ToString("MM/yy")</p>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        }
    }
</div>
@section Scripts{
    <script>
        function copyCardNumber(cardNumber) {
            var cardNumber = document.getElementById('cardNumber');
            var tempInput = document.createElement('input');
            tempInput.value = cardNumber.textContent.trim();
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('Card number copied to clipboard');
        }
    </script>
}
