@{
    ViewData["Title"] = "Profile";
    var data = ViewData["UserProfileViewmodel"] as UserProfileViewmodel;
}
@model UserProfileViewmodel

<div class="res-from">



    <form asp-action="Profile" method="post" enctype="multipart/form-data" class="mn mb-4 mtop">
        <label class="form-label text-white">First Name</label>
        <input asp-for="userUpdateViewModel.FirstName" value="@data.userUpdateViewModel.FirstName" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.FirstName" class="text-danger"></span>


        <label class="form-label text-white">Last Name</label>
        <input asp-for="userUpdateViewModel.LastName" value="@data.userUpdateViewModel.LastName" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.LastName" class="text-danger"></span>


        <label class="form-label text-white">Email</label>
        <input asp-for="userUpdateViewModel.Email" value="@data.userUpdateViewModel.Email" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.Email" class="text-danger"></span>


        <label class="form-label text-white">Current Password</label>
        <input asp-for="userUpdateViewModel.CurrentPassword" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.CurrentPassword" class="text-danger"></span>


        <label class="form-label text-white">NewPassword</label>
        <input asp-for="userUpdateViewModel.NewPassword" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.NewPassword" class="text-danger"></span>


        <label class="form-label text-white">Confirm Password</label>
        <input asp-for="userUpdateViewModel.ConfirmPassword" class="form-control" />
        <span asp-validation-for="userUpdateViewModel.ConfirmPassword" class="text-danger"></span>


        <img src="~/img/data/@TempData["ProfilePhoto"]" width="100px"
             class="img-fluid changeImg">
        <div class="res-img-d">
            <div class="container mt-2">
                <!-- File Input that triggers the modal -->
                <input asp-for="userUpdateViewModel.ProfilePhoto" name="userUpdateViewModel.ProfilePhoto" accept="image/*" class="" id="myFile" class="btn text-white file " />
                <span asp-validation-for="userUpdateViewModel.ProfilePhoto" class="text-danger"></span>
                <br>
            </div>
        </div>
        <button class="btn btn-outline-success my-1" type="submit">Save Changes</button>

        <a asp-controller="Auth" asp-action="Logout" class="btn btn-danger my-0">Logout</a>

    </form>
</div>




@section Styles {
    <link rel="stylesheet" href="~/form.css" asp-append-version="true">

}

@section Scripts {
    <script>

        if ("@TempData["SuccessMessage"]" != "") {


            toastr["success"]("@TempData["SuccessMessage"]")

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"

            }
        }
    </script>
}
