
@{
    ViewData["Title"] = "Manage Support";
}
@model AnswerSupportViewModel


<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-sm-3 mt-md-0">
                <div class="card">
                    <div class="card-header main-color-bg">
                        Manage Support Request
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" value="@TempData["FirstName"]" readonly />
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" value="@TempData["LastName"]" readonly />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" asp-for="Mail" class="form-control" id="email" value="@TempData["Email"]" readonly />
                            </div>
                            <div class="form-group">
                                <label for="issue">Issue</label>
                                <textarea class="form-control" id="issue" rows="3" readonly>@TempData["Issue"] </textarea>
                            </div>
                            <div class="form-group">
                                <label for="createdDate">Created Date</label>
                                <input type="text" class="form-control" id="createdDate" value="@TempData["CreatedDate"]" readonly />
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <div>
                                    @if (TempData["StatusName"].ToString() == "UnderReview")
                                    {
                                        <div class="badge bg-warning text-dark">UnderReview</div>
                                    }
                                    else if (TempData["StatusName"].ToString() == "Answered")
                                    {
                                        <div class="badge bg-success">Answered</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-danger">Passed</div>
                                    }
                                </div>
                            </div>
                            @if (!(TempData["StatusName"].ToString() == "Answered"))
                            {
                                <div class="form-group">
                                    <label for="Title"> Title</label>
                                    <input asp-for="Title" class="form-control" placeholder="Enter mail title" required id="mailTitle" />
                                </div>
                                <div class="form-group">
                                    <label for="supportBody">Support Body</label>
                                    <textarea asp-for="Body" class="form-control" rows="5" placeholder="Enter your message here" required id="mailBody"></textarea>
                                </div>
                            }
                            
                            
                            <div class="form-group">
                                @if (TempData["StatusName"].ToString() == "Answered")
                                {
                                    <a href="javascript:history.back()" class="btn btn-outline-secondary">Back</a>
                                }
                                else
                                {
                                    <input asp-action="AnswerSupport" asp-route-id="@TempData["Id"]" type="submit" class="btn btn-outline-secondary" value="Submit" />
                                    <a href="javascript:history.back()" class="btn btn-outline-secondary">Cancel</a>
                                    <input asp-action="PassSupport" asp-route-id="@TempData["Id"]" type="submit" class="btn btn-outline-danger" value="Pass" onclick="func()" />
                                }
                                
                            </div>
                        </form>
                         
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        function func(){
            document.getElementById("mailTitle").removeAttribute("required");
            document.getElementById("mailBody").removeAttribute("required");
        }

        document.querySelector(".list-group-item.list-group-item-action.active.main-color-bg").classList.remove("active", "main-color-bg");
        document.getElementById("@TempData["Tab"]-tab").classList.add("active", "main-color-bg");


        document.querySelector(".nav-item.active").classList.remove("active");
        document.getElementById("@TempData["Tab"].ToString()-nav-item").classList.add("active");


    </script>
}


